request_output.json
StandAlone/HERA_B2_MA2GNC.json
StandAlone/Positions.xlsx
*.txt
*.png
*.json
StandAlone/__pycache__/*
*.apng
*.gif
Homeworks/AE402_HW3/__pycache__/ellipse_plotter.cpython-37.pyc
*.asv
*.pyc